
* { 
    padding: 0; 
    margin: 0; 
    box-sizing: 
    border-box; 
}

body {
    display: flex;
    flex-direction: row;
}

#map { 
    width: 100vw; 
    height: 100vh;
    margin: 0;
    padding: 0; 
}
 
#breadcrumb {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 15px;
    background-color: #090A0A;
    border-radius: 5px;
    font-size: 14px;
    color:white;
    z-index: 99999;
}

#breadcrumb > a {
    text-decoration: none;
}

.leaflet-pane {
    position: absolute;
}

